<a href="https://colab.research.google.com/github/JuanchoGithub/mejuri-data-challenge/blob/master/read_from_api.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
#Imports
import pandas as pd
import numpy as np
import requests
import json
from google.cloud import bigquery
from requests.auth import HTTPBasicAuth

In [0]:
#Variables

#https://retailnext.atlassian.net/wiki/spaces/KB/pages/145129473/API

#Used this to convert the KB sample curl commands to valid python
#https://curl.trillworks.com/#python


toronto = '8c1d0d0a-9fdd-11e8-8003-0000e6e67141'
newyork = '9282ba78-ee2f-11e8-9722-80007e030792'
losangeles = '65c1be80-ac93-11e9-9a41-c0005e4bb78f'
sanfrancisco = 'c3adc3bc-1a8f-11ea-955a-c000ff5d2ae7'

name = "mejuri"
accesskey = ""
secretkey = ""

url = "https://" + name + ".api.retailnext.net/v1/datamine"
#header = {"content-type": "application/json"}

#url = 'https://mejuri.api.retailnext.net/v1/datamine'

req = {}

#Updated with correct names from stores
locations = {"Toronto Store":toronto, "New York Store":newyork, "Los Angeles":losangeles, "San Francisco Store":sanfrancisco}
req['time_ranges'] = [{"type":"store_hours"}]
req["group_bys"] = [{"value":1, "unit":"minutes", "group":"time"}]
req["date_ranges"] = [{'first_day': '2019-12-09', 'last_day': '2019-12-09'}]
req["metrics"] = ["traffic_in", "traffic_out"]
headers = {'content-type': 'application/json', 'Accept-Charset': 'UTF-8'}

In [3]:
datos = []
for location, value in locations.items():
  req['locations'] = [value]
  json_req = json.dumps(req)
  r = requests.post(url,data=json_req, auth=HTTPBasicAuth(accesskey, secretkey)).json()

#I've tried json_normalize but no luck, so manual it is.
  for metric in r["metrics"]:
    for data in metric["data"]:
      group = data["group"]
      datos.append({"store":location, "metric":metric["name"], "value":data["value"], "start_time":group["finish"], "end_time":group["start"]})

df = pd.DataFrame.from_records(datos)
df

                   store       metric  value start_time end_time
0          Toronto Store   traffic_in      8      12:01    12:00
1          Toronto Store   traffic_in      7      12:16    12:15
2          Toronto Store   traffic_in      3      12:31    12:30
3          Toronto Store   traffic_in      4      12:46    12:45
4          Toronto Store   traffic_in      2      13:01    13:00
..                   ...          ...    ...        ...      ...
507  San Francisco Store  traffic_out      0      22:46    22:45
508  San Francisco Store  traffic_out      0      23:01    23:00
509  San Francisco Store  traffic_out      0      23:16    23:15
510  San Francisco Store  traffic_out      0      23:31    23:30
511  San Francisco Store  traffic_out      0      23:46    23:45

[512 rows x 5 columns]

In [4]:
#create service_key json file because google colab deletes it every time
service_key_data = {
  "type": "service_account",
  "project_id": "idyllic-pact-273015",
  "private_key_id": "f37a4fbb201e0cf71546f4e28cafe5da1536b2a3",
  "private_key": "-----BEGIN PRIVATE KEY-----\nMIIEvwIBADANBgkqhkiG9w0BAQEFAASCBKkwggSlAgEAAoIBAQCmLz7wb8EtQHV8\n3cT16r1cAq4TWLP0YXADVJo/ZCJOsqrQtzIbY5Hh3KQJp+c2GybXIhNRS148Lm+h\nTGI1eZF7CqEFhxbRI4/AT6OT9bsOTnzFcVOb1TNGl9hDPY0RMuhH65NIIyMePjtd\nIZ3epR7yGHzMhpUDcKWtbTh+0NNCyNeor2DG/6E1hYVD+V8gMxXNhEeJJTfc0GTY\nt3WFDpKCOYk0SrPr4VXhS4SJPdUrQr4Lse80+vVTAtiCTAbquIJwMRDvLmWFUYY7\n4iSJSZYWvMwz6QNSrGCA+JOvUCwSl+H7WSCkgQ70Fmdekt8K3dxQ81cfPuTOhrCn\n/748fbV1AgMBAAECggEAEBYyuYOX55F9zgCJuGRowCdiQm0rvlRQS4I9DDXdPFD/\nSATzzMLutDZvip++OfaW4+xgglYRYTH9jFegihyigI6e17Ij+0q995e99eyrls7y\nNQqrVUJmHEdGn/utVCThZ1TehPUhySOtC27doVfKjxTfv8ynUBXvc8JG3b/JM4Wl\npTwY0JW186jOJNXC+2fCbBMR+KSka0/f01Vy32ZRb4ilghN/3npAnSj9JPK8JPTs\nEHeSt5AVh3sb+t5ZTbBfLQ3syf9t7vOxOwGp7XF6HXasrv0Jl88CTBzxGOERF2wP\nsC5L40EUxxjORLENWlwUm3VsPfPsPvXODSUr898uYQKBgQDV1XvBbzpLjOLGU02o\nH1Hp9IFELynY/VKHI9HvyVa66o5RZ9fPYvsvO2TV+o8NBO4RjTEKDwTkTz7Qc1Ss\nF9VY+Pgm4dArs9+PGkYJcRgE0QSng2Jxjfx6biD2uZp3zMAR7TX1THaOEFSMsahe\nnp7tF0nf3+uQOYS4XEJlyxfLLwKBgQDG9GHddYe78FpcQEA4u1yT9yK6kOsGa79F\n2Xxamhin5q1GN0Nb5m6+E5jJwgRJSsRUd+Z01xQ03aWL2kB3tw6MB/b7z4nPWe82\nx79q3kVHEL6DXxq49RYmMJKkJl52RU/wfUU5fFHYsNk0MuprTTJi0Kl6VuKTaqKI\nzWKWYhlQmwKBgQCbQBpQAM+UVr+3OnghXkv8zpajyJJbhuDKWUltDQM5Rl7536ki\nWzz/t+GoMfh2fWPTvm0iXnEwyhBTC8koAU3XATw6Dq0zba8cmPjMlh3YMWFttchd\npbbvtNGeEHeED1ZMLauFY3SYBGc+lyYlPIkqnkP2lP7Ugc5IhEN44JFv5QKBgQCW\nrUrZEEQGQBgPOdHppWyN22N/7HUy3bN00Svu6jm2H2wne38WQMSqS+kxFDFu2KMs\nXco5vxJcn2jbLCYbBJaN0xJoz1tNoI0c7da4tzG8ip/ems6AOY3Wyn6ktzJfXEsY\nlacxzEeoVveJIu6K6WI5mFJihx7+CoqiFPqPbihB9QKBgQCCvH/ZvLQIcHx3Muhi\nIrJ+CBgFx8K651yUbiFNiBdct3eWROmFGB+GFs02FLLF/6YSN41v6UypsaBS/ijS\nogCZAOhdJAJJyAF43UN/5QoEbWcUDsHpbqSlOx2FXk2Qe/L3sIw8lh8pN9qvOMTm\nytP2TlHP/HebwZJNuAOAKCha9A==\n-----END PRIVATE KEY-----\n",
  "client_email": "mejuri01@idyllic-pact-273015.iam.gserviceaccount.com",
  "client_id": "114835114292525445503",
  "auth_uri": "https://accounts.google.com/o/oauth2/auth",
  "token_uri": "https://oauth2.googleapis.com/token",
  "auth_provider_x509_cert_url": "https://www.googleapis.com/oauth2/v1/certs",
  "client_x509_cert_url": "https://www.googleapis.com/robot/v1/metadata/x509/mejuri01%40idyllic-pact-273015.iam.gserviceaccount.com"
}

f = open('/content/service_key.json', 'w')
f.write(json.dumps(service_key_data))
f.close()

!cat '/content/service_key.json'

{"type": "service_account", "project_id": "idyllic-pact-273015", "private_key_id": "f37a4fbb201e0cf71546f4e28cafe5da1536b2a3", "private_key": "-----BEGIN PRIVATE KEY-----\nMIIEvwIBADANBgkqhkiG9w0BAQEFAASCBKkwggSlAgEAAoIBAQCmLz7wb8EtQHV8\n3cT16r1cAq4TWLP0YXADVJo/ZCJOsqrQtzIbY5Hh3KQJp+c2GybXIhNRS148Lm+h\nTGI1eZF7CqEFhxbRI4/AT6OT9bsOTnzFcVOb1TNGl9hDPY0RMuhH65NIIyMePjtd\nIZ3epR7yGHzMhpUDcKWtbTh+0NNCyNeor2DG/6E1hYVD+V8gMxXNhEeJJTfc0GTY\nt3WFDpKCOYk0SrPr4VXhS4SJPdUrQr4Lse80+vVTAtiCTAbquIJwMRDvLmWFUYY7\n4iSJSZYWvMwz6QNSrGCA+JOvUCwSl+H7WSCkgQ70Fmdekt8K3dxQ81cfPuTOhrCn\n/748fbV1AgMBAAECggEAEBYyuYOX55F9zgCJuGRowCdiQm0rvlRQS4I9DDXdPFD/\nSATzzMLutDZvip++OfaW4+xgglYRYTH9jFegihyigI6e17Ij+0q995e99eyrls7y\nNQqrVUJmHEdGn/utVCThZ1TehPUhySOtC27doVfKjxTfv8ynUBXvc8JG3b/JM4Wl\npTwY0JW186jOJNXC+2fCbBMR+KSka0/f01Vy32ZRb4ilghN/3npAnSj9JPK8JPTs\nEHeSt5AVh3sb+t5ZTbBfLQ3syf9t7vOxOwGp7XF6HXasrv0Jl88CTBzxGOERF2wP\nsC5L40EUxxjORLENWlwUm3VsPfPsPvXODSUr898uYQKBgQDV1XvBbzpLjOLGU02o\nH1Hp9IFELynY/VKHI9HvyVa66o5RZ9fPYvsvO2TV+o8NBO4RjTEKDwTkTz7Qc1Ss\nF9VY+Pgm4dArs9+PGkYJcRgE0QSng2Jxjfx6biD2uZp3zMAR7TX1THaOEFSMsahe\nnp7tF0nf3+uQOYS4XEJlyxfLLwKBgQDG9GHddYe78FpcQEA4u1yT9yK6kOsGa79F\n2Xxamhin5q1GN0Nb5m6+E5jJwgRJSsRUd+Z01xQ03aWL2kB3tw6MB/b7z4nPWe82\nx79q3kVHEL6DXxq49RYmMJKkJl52RU/wfUU5fFHYsNk0MuprTTJi0Kl6VuKTaqKI\nzWKWYhlQmwKBgQCbQBpQAM+UVr+3OnghXkv8zpajyJJbhuDKWUltDQM5Rl7536ki\nWzz/t+GoMfh2fWPTvm0iXnEwyhBTC8koAU3XATw6Dq0zba8cmPjMlh3YMWFttchd\npbbvtNGeEHeED1ZMLauFY3SYBGc+lyYlPIkqnkP2lP7Ugc5IhEN44JFv5QKBgQCW\nrUrZEEQGQBgPOdHppWyN22N/7HUy3bN00Svu6jm2H2wne38WQMSqS+kxFDFu2KMs\nXco5vxJcn2jbLCYbBJaN0xJoz1tNoI0c7da4tzG8ip/ems6AOY3Wyn6ktzJfXEsY\nlacxzEeoVveJIu6K6WI5mFJihx7+CoqiFPqPbihB9QKBgQCCvH/ZvLQIcHx3Muhi\nIrJ+CBgFx8K651yUbiFNiBdct3eWROmFGB+GFs02FLLF/6YSN41v6UypsaBS/ijS\nogCZAOhdJAJJyAF43UN/5QoEbWcUDsHpbqSlOx2FXk2Qe/L3sIw8lh8pN9qvOMTm\nytP2TlHP/HebwZJNuAOAKCha9A==\n-----END PRIVATE KEY-----\n", "client_email": "mejuri01@idyllic-pact-273015.iam.gserviceaccount.com", "client_id": "114835114292525445503", "auth_uri": "https://accounts.google.com/o/oauth2/auth", "token_uri": "https://oauth2.googleapis.com/token", "auth_provider_x509_cert_url": "https://www.googleapis.com/oauth2/v1/certs", "client_x509_cert_url": "https://www.googleapis.com/robot/v1/metadata/x509/mejuri01%40idyllic-pact-273015.iam.gserviceaccount.com"}

In [5]:
import os

os.environ['GOOGLE_APPLICATION_CREDENTIALS'] = '/content/service_key.json'

project_id = 'idyllic-pact-273015'

client = bigquery.Client(project=project_id)

table_id = 'mejuri_data_challenge.traffic'
# Since string columns use the "object" dtype, pass in a (partial) schema
# to ensure the correct BigQuery data type.
job_config = bigquery.LoadJobConfig(schema=[
    bigquery.SchemaField("store", "STRING", mode="REQUIRED"),
    bigquery.SchemaField("metric", "STRING", mode="REQUIRED"),
    bigquery.SchemaField("value", "INTEGER", mode="REQUIRED"),
    bigquery.SchemaField("start_time", "STRING", mode="REQUIRED"),
    bigquery.SchemaField("end_time", "STRING", mode="REQUIRED")
])

job = client.load_table_from_dataframe(
    df, table_id, job_config=job_config
)

# Wait for the load job to complete.
job.result()

In [13]:
#runs query directly from google big query (since we already are connected)
%%bigquery
SELECT * FROM `idyllic-pact-273015.mejuri_data_challenge.traffic` WHERE value <> 0 LIMIT 10

         store       metric  value start_time end_time
0  Los Angeles   traffic_in      3      10:31    10:30
1  Los Angeles  traffic_out      3      10:31    10:30
2  Los Angeles  traffic_out      2      11:01    11:00
3  Los Angeles   traffic_in      6      11:01    11:00
4  Los Angeles   traffic_in      3      11:16    11:15
5  Los Angeles  traffic_out      4      11:16    11:15
6  Los Angeles   traffic_in      5      11:31    11:30
7  Los Angeles  traffic_out      6      11:31    11:30
8  Los Angeles   traffic_in      4      11:46    11:45
9  Los Angeles  traffic_out      5      11:46    11:45